body {
  background-color: #f9f7fe !important;
  margin: auto !important;
}

.App {
  max-width: 788px;
  font-family: "Cerebri-Sans", Helvetica, Arial, sans-serif;
  background: white;
  border-radius: 16px;
  box-shadow: 0px 30px 50px rgba(65, 50, 100, 0.08);
  padding: 40px;
  margin: 0 auto;
  margin-top: 50px;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 42px;
  max-width: 150px;
  text-align: start;
  display: block;
  pointer-events: none;
}

footer{
  font-size: 14px;
  color: rgba(39, 33, 66, 0.4);
  line-height: 18px;
  font-weight: 400;;
}

footer a {
  color: #885df1;
}
.search-input{
  background-color: #f9f7fe !important;
  color: rgba(39, 33, 66, 0.4);
  border: none !important;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 6px;
  font-size: 16px;
  height: 50px;
  line-height: 20px;
}

form {
  margin: 40px 0 0; 
  padding: 0px 0px 30px;
}
.line-break{
  border-bottom: 1px solid #eee;
  width: 100%;
  margin: 20px 0;
  color:#f9f7fe !important;
  opacity: 50%;
}

.btn-primary{
  background-color:  #885df1 !important;
  color: white;
  border-radius: 5px;
  padding: 15px 0px;
  border: none !important;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  height: 50px;
}
ul{
  padding: 0px !important;
  margin: 0px;
  text-align: left !important;
  line-height: 20px;
  color: rgba(39, 33, 66, 0.4);
}
li{
  list-style: none;
  margin: 0px !important;
}

.displayedcity h1 {
  font-family: 'Cerebri Sans', Helvetica, Arial, sans-serif;
  font-weight: bolder !important;
  color: black !important;
  text-align:left !important;
  margin: 20px 0 10px 0;
  line-height: 29px;
  font-weight: bold;
  font-size: 38px;
  line-height: 48px;
}

strong{
color: rgb(246, 82, 130);
font-weight: bold;
}
.weather-forecast-temperature-max, 
.weather-forecast-temperature-min {
color: rgb(246, 82, 130);
font-weight: bold;
font-size: 18px;
line-height: 27px;
font-weight: 700;
}
.weather-forecast-temperature-min{
opacity: 70% !important;
margin-right:10px;
}

.temperature {
  font-size: 80px;
  color: black;
  font-weight: 700;
  margin-left: 10px;
}
.unit {
  color: rgb(33, 33, 33);
  font-size: 28px;
  line-height: 36px;
  font-weight: normal;
  position: relative;
  line-height: 1;
  top: -34px;
}
.canvas{
  margin:10px 0 10px 0;
  display: block;
  max-width: 100%;
}

.WeatherForecastPreview { 
  color: rgba(39, 33, 66, 0.4);
  font-weight: bold;
  line-height:20px;
  text-align: center;
  font-size: 16px;
}
.tiny-card{
  padding: 12px 0px 12px 0px;
  text-align: center !important;
}