body {
  background-color: #f9f7fe;
}

.App {
  text-align: center;
  background-color:white;
  margin:60px;
  padding:50px;
  border-radius: 15px;
}

.App-logo {
  height: 42px;
  max-width: 150px;
  text-align: start;
  display: block;
  pointer-events: none;
}

footer{
  font-size: 14px;
  color: rgba(39, 33, 66, 0.4);
  line-height: 18px;
  font-weight: 400;;
}

footer a {
  color: #885df1;
}